<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Indique quel version de vue utiliser pour l'application -- Utiliser vue@next pour rester à la dernière version -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
      .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background: #dddddd;
        margin: 20px;
        display: inline-block;
      }
    </style>
    <title>Learning Vue</title>
  </head>
  <body>
    <h1>Hello, vue :)</h1>

    <!--Div avec l'id app dans laquel Vue pourra controler les éléments-->
    <div id="app">
      <!-- Ajout d'une conditionnel pour afficher la div avec le v-if -->
      <div v-if="showBooks">
        <p>{{title}} - {{author}} - {{age}}</p>
        <!--Evenement on click avec fonction dans le template + instruction "v-on" -->
        <button v-on:click="increase">Increase age</button>
        <!--Evenement on click avec fonction dans le composant dans le fichier javascript + instruction en @-->
        <button @click="age--">Decrease age</button>
      </div>

      <!-- Ajout d'un bouton pour afficher et faire disparaitre la div -->
      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <span v-else>Show Books</span>
      </button>

      <!-- Utilisation de v-show pour afficher (ou non) la div. Evite de faire un v-if/v-else -->
      <div v-show="showBooks">Currently showing books</div>

      <!-- v-if enlève la div entièrement du code si la condition n'est pas remplie. V-show applique un display:none au css.  -->
      <!-- v-show pour les changements fréquents, v-if pour les changeemnts occasionnels -->

      <br />
      <!--Mouse Events-->
      <!-- Le $event permet de garder l'evenement en parametre de notre handler tout en ajoutant un parametre personalisé. Ne pas mettre le $event revient à ne pas pouvoir l'utiliser -->
      <!-- Sans parametre, l'evenement est l'argument par défaut -->
      <div class="box" @mouseover="handleEvent($event, 5)">Mouseover (enter)</div>
      <div class="box" @mouseleave="handleEvent">Mouseleave (exit)</div>
      <div class="box" @dblClick="handleEvent">Double click</div>
      <div class="box" @mousemove="handleMouseMove">Position - {{x}} {{y}}</div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
